<div id="#Button1 " style="position: absolute; left: 80px; right: 0; top:0; bottom:30px;">
    @Html.DevExpress().Button(settings => {
        settings.Name = "SwitchWorkingModesButton";
        settings.Text = "Switch to Viewer";
        settings.UseSubmitBehavior = true;
        settings.ClientSideEvents.Click = "function(s, e) { switchWorkingModes(s, e); }";
    }).GetHtml()
</div>
<div id="#DashboardDesigner" style="position: absolute; left: 0; right: 0; top:30px; bottom:0;">
    @Html.DevExpress().DashboardDesigner(settings => {
        settings.Name = "DashboardDesigner";
        settings.Width = Unit.Percentage(100);
        settings.Height = Unit.Percentage(100);
    }).GetHtml()
</div>